<div class="card">
	<div>
		<a [routerLink]="['/event', data.id]">
			<div class="card-img-wrapper">
				<img class="card-img-top" [src]="data.image" alt="Placeholder">
				<div class="card-floating-price">S/. {{data.price}}</div>
			</div>
			<div class="card-body">
				<h4 class="card-title">{{data.title}}</h4>
				<p class="card-text">{{data.description}}</p>
				<hr>
			</div>
		</a>
		<a [routerLink]="['/event', data.id]">
			<div class="card-footer">
				<div class="circle">
					<img src="{{data.host_picture}}" alt="profile-{{data.host}}" />
				</div>
				<div class="card-footer-text"><h3>Hosted by</h3> {{data.host}}</div>
			</div>
		</a>
	</div>
</div>
