<div class="container" style="padding-top: 100px;">
	<div class="faqs">
		<ul>
			<li>¿Qué es TusChefs?</li>
			<p>
				TusChefs es una plataforma que permite contratar un chef y puedas vivir de una experiencia culinaria. De esta forma, ofrece una nueva alternativa culinaria, permitiendo disfrutar de una experiencia gastronómica personalizada en la comodidad de tu casa. Por otra parte, TusChefs da a los cocineros la posibilidad de obtener ingresos realizando lo que realmente les gusta y saben hacer: Cocinar.
			</p>

			<li>¿Cómo funciona Tuschefs?</li>
			<p>
				TusChefs permite a los comensales reservar los servicios de un chef a domicilio o ir al domicio del chef en su ciudad. Cuando el comensal reserva el menú y perfil de chef que más le gusta, TusChefs cobra el 100% del importe por adelantado, el importe se le deposita al chef al final de la experiencia.
			</p>

			<li>¿Cómo me convierto en chef Tuschef?</li>
			<p>
				¡Quiero cocinar ahora!<br>
				Si te encanta cocinar y te encanta hospedar y servir a la gente, ¡eres un Chef Tuschef! Simplemente registra tu cocina (como llamamos al espacio único donde cocinará y organizará) con toda la información básica como dirección y nombre. Luego registra uno o varios menús con un plato principal mínimo y le sugerimos ofrecer también una bebida, un aperitivo y un postre (pero depende totalmente de usted), establezca un precio por persona y ya está ¡Comience a cocinar antes de que llegue su invitado para que esté listo cuando llegue a casa!<br>
				Consejo: ¡Sé creativo! ¡Puedes hacer un brunch con mimosas en tu terraza todos los domingos al mediodía, una barbacoa en tu patio trasero para tus vecinos el sábado por la tarde o una comida vegana diaria a la hora del almuerzo entre semana a domicilio! ¡Tu imaginación es el límite!<br>

				Pero cocinar para amigos puede ser costoso...<br>

				¡No te preocupes! Simplemente complete su método de pago preferido (cuenta bancaria) en su información personal y procesaremos el dinero recibido de sus eventos.
			</p>

			<li>¿Cómo gana dinero TusChefs?</li>
			<p>
				TusChefs es posible gracias a la comisión del 15% sobre el importe de cada reserva.
			</p>

			<li>¿Qué pasa si cancelo mi asistencia después de haber confirmado y pagado?</li>
			<p>
				Perderás automáticamente tu reserva. Sin embargo, si nos demuestras una razón sólida podremos reasignarte o reagendar con tu chef u otro de tu preferencia si la cancelación se realizó con 48 horas de anticipacion. 
			</p>

			<li>¿Qué pasa si el chef cancela?</li>
			<p>
				Te devolveremos el costo total de la experiencia y nos comunicaremos contigo inmediatamente para darte nuestras opciones disponibles. 
			</p>
		</ul>
	</div>
</div>
