<nav class="navbar navbar-expand-lg bg-white fixed-top" color-on-scroll="500">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" [routerLink]="['/presentation']" placement="bottom">
				<img style="max-width:25%;" src="../../../assets/img/logo-color.png">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
					aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
				    (click)="sidebarToggle()">
				<span class="navbar-toggler-bar bar1"></span>
				<span class="navbar-toggler-bar bar2"></span>
				<span class="navbar-toggler-bar bar3"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="red">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn btn-neutral dropdown-item" [routerLink]="['/create-event']">
						<i class="now-ui-icons text_align-left"></i>
						Crear evento
					</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-neutral dropdown-item" [routerLink]="['/event-description']">
						<i class="now-ui-icons text_align-left"></i>
						Eventos
					</a>
				</li>
				<ng-container *ngIf="isAuthenticated(); else notAuthenticatedBlock">
					<li class="nav-item">
						<a class="btn btn-neutral dropdown-item">
							<i class="now-ui-icons users_single-02"></i>
							{{ userData.first_name }}
						</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-neutral dropdown-item">
							<i class="now-ui-icons ui-1_bell-53"></i>
						</a>
					</li>
				</ng-container>
				<ng-template #notAuthenticatedBlock>
					<li class="nav-item">
						<app-login-modal></app-login-modal>
					</li>
					<li class="nav-item">
						<app-register-modal></app-register-modal>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>
</nav>
