<div id="searchbar">
	<div class="searchbar">
		<form id="searchbar-form" action="/s">

			<div class="searchbar__input-wrapper">

				<label class="searchbar__location">
					<span class="text-left text-contrast">¿Qué estás buscando?</span>

					<input id="location" type="text" class="input-large input-contrast" autocomplete="off" name="location" placeholder="Busca por lugar o anfitrión" />
					<div id="searchbar-location-error" class="searchbar__location-error hide">
						Cuándo
					</div>
				</label>

				<label class="searchbar__checkin" style="width: 200px;">
					<span class="text-left text-contrast">¿Cuándo estás disponible?</span>
					<input id="checkin" type="text" class="checkin input-large input-contrast" name="checkin"
																							   placeholder="Cuándo?" />
				</label>

				<label class="searchbar__guests">
					<span class="text-left text-contrast">¿Cuántos invitados asistirán?</span>
					<div class="select select-large">
						<select id="guests" name="guests">
							<option value="1">1 Persona</option>
							<option value="2">2 Personas</option>
							<option value="3">3 Personas</option>
							<option value="4">4 Personas</option>
							<option value="5">5 Personas</option>
							<option value="6">6 Personas</option>
							<option value="7">7 Personas</option>
							<option value="8">8 Personas</option>
							<option value="9">9 Personas</option>
							<option value="10">10 Personas</option>
							<option value="11">11 Personas</option>
							<option value="12">12 Personas</option>
							<option value="13">13 Personas</option>
							<option value="14">14 Personas</option>
							<option value="15">15 Personas</option>
							<option value="16">16+ Personas</option>
						</select>
					</div>
				</label>

			</div>
			<button id="submit_location" type="submit" class="searchbar__submit btn btn-primary btn-large">
				Buscar
			</button>

			<input type="hidden" name="source" value="bb">

		</form>
	</div>
</div>
