<div class="wrapper">
    <div class="page-header page-header-small">
        <ngb-carousel *ngIf="eventData">
            <ng-template ngbSlide *ngFor="let photo of eventData.photos">
				<div class="picsum-img-wrapper">
					<img style="max-height: -webkit-fill-available; width: -webkit-fill-available;" class="img-raised" src="{{photo.image}}" alt="slide {{photo.position}}">
				</div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="section" *ngIf="eventData">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
					<h2 class="title">{{eventData.title}}</h2>
                    <div class="icons" *ngIf="!loading">
						<div>
							<img src="../../assets/img/clock.png" alt="clock-icon">
							<span>{{ eventData.time_start }} - {{ eventData.time_end }}</span>
						</div>

						<div>
							<img src="../../assets/img/meal.png" alt="meal-icon">
							<span *ngIf="foodType">{{eventData.type_event}} | {{foodType.name}}</span>
						</div>

						<div>
							<img src="../../assets/img/group-of-people.png" alt="people-icon">
							<span>{{eventData.min_people < eventData.max_people ? eventData.min_people : eventData.max_people}} a {{eventData.min_people > eventData.max_people ? eventData.min_people : eventData.max_people}}</span>
						</div>
					</div>
                    <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds" class="card-plain">
                        <ngb-panel id="panel-1">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                    Descripción del evento
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
								<p>{{eventData.description}}</p>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="panel-2">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
									¿Qué incluye?
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
								<div class="event-includes" *ngIf="eventData !== undefined">
									<div class="include-square">
										<img src="../../assets/img/fork.png" alt="fork-icon" />
										<h3>Comida</h3>
										<p *ngFor="let food of getFoodTypes()" class="menu-item">
											<span>{{ food.menu }}:</span> {{ food.name }}
										</p>
									</div>
									<div class="include-square">
										<img src="../../assets/img/cocktail.png" alt="cocktail-icon" />
										<h3>Bebidas</h3>
										<p>{{ getBeverageTypes() }}</p>	
									</div>
								</div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="panel-3">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
									Información del anfitrión
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
								<div class="host-picture">
									<a [routerLink]="['/profile', eventData.chef.user.id]">
										<img src="{{eventData.chef.user.photo}}" alt="{{eventData.chef.user.full_name}}">
									</a>
								</div>
								<p><b>Nombre:</b> {{eventData.chef.user.full_name}}</p>
								<p><b>Descripción del chef:</b> {{eventData.chef.experience}}</p>
								<p *ngIf="eventData.is_home === false"><b>Dirección del chef:</b> {{eventData.address}}</p>
								<p><b>Rating:</b> {{eventData.chef.rating}}</p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="col-md-6">
					<form [formGroup]="reservationForm" (ngSubmit)="makeReservation()">
						<div class="card card-background card-raised">
							<div class="info">
								<div class="col-md-12">
									<div class="form-group price">
										S/. {{eventData.price}} <small>Precio por persona</small>	
									</div>
										<div class="form-group">
											<label>Fecha</label>
											<input class="form-control datetimepicker" name="dp" formControlName="reservation_date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" data-color="white" [markDisabled]="disabledDates">
										</div>
										<div class="form-group">
											<label>Número de invitados</label>
											<select class="form-control" name="numGuests" formControlName="num_guests">
												<option [value]="index" *ngFor="let index of guestsRange">{{index}}</option>
											</select>
										</div>
										<div class="form-group" *ngIf="eventData.is_home === true">
											<label>Dirección</label>
											<input placeholder="Incluye la dirección donde se realizará el evento" class="form-control" type="text" value="" formControlName="customer_address" />
										</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-12">
										<button type="submit" [disabled]="!reservationForm.valid" class="btn btn-primary btn-round btn-lg">Reservar Ahora</button>
									</div>
								</div>
							</div>
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
  <footer class="footer footer-big footer-default">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <h5></h5>
            <ul class="links-vertical">
              <li>
                <a [routerLink]="['/create-event']" class="text-muted">
                  Sé anfitrión
                </a>
              </li>
              <li>
                <a [routerLink]="['/events']" class="text-muted">
                  Nuestros eventos
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5></h5>
            <ul class="links-vertical">
              <li>
                <a (click)="openContactForm()" class="text-muted">
                  Contacta con nosotros
                </a>
              </li>
              <li>
				<a href="#pablo" class="text-muted">
					Términos y condiciones
				</a>
              </li>
              <li>
                <a href="#pablo" class="text-muted">
                  Preguntas frecuentes
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-md-push-1">
            <h5>Nuestras redes</h5>
            <ul class="social-buttons" style="padding: 0;">
              <li>
                <a href="https://www.linkedin.com/company/40905926/admin/" class="btn btn-icon btn-neutral btn-linkedin btn-round">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/tuschefs/?modal=admin_todo_tour" class="btn btn-icon btn-neutral btn-facebook btn-round">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/tuschefs_/?utm_source=mailchimp&utm_campaign=03004acee1f0&utm_medium=page" class="btn btn-icon btn-neutral btn-instagram btn-round">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}} TusChefs.
      </div>
    </div>
  </footer>
</div>
