agm-map{
    height: 400px;
}

.card-body h4 {
	margin-top: 0;
}

.row.select-padding-label {
	.col-md-12 {
		padding-bottom: 20px;
	}
	label {
		font-size: 16px;
		font-weight: 400;
		padding-left: 18px;
	}
}

.outer-menu-description-editor {
	border: 1px solid #dfe2e7;
	background-color: #f6f6f6;
	border-radius: 4px;
	padding: 8px 0;

	.menu-description-editor:first-child {
		.bullet-separator:first-child {
			display: none;
		}
	}

	.menu-description-editor {
		margin: 0 8px;
		background-color: #dfe2e7;
		text-align: center;

		.menu-description-editor-title {
			background-color: #fff;
			padding: 0 25px;
			textarea {
				&::placeholder {
					color: #000;
				}
				text-align: center;
				font-size: 26px;
			}
			.bullet-separator {
				text-align: center;
				padding-top: 20px;
				.bullet {
					display: inline-block;
					margin: 0 4px;
					border-radius: 50%;
					background-color: #dfe2e7;
					vertical-align: middle;
					&.small {
						width: 4px;
						height: 4px;
					}
					&.big {
						width: 6px;
						height: 6px;
					}
				}
			}
		}

		.menu-description-editor-dish {
			background-color: #fff;
			padding: 0 25px;
			textarea {
				text-align: center;
				font-size: 20px;
			}
		}
	}
}
