<div class="mt-5 page-header">
	<div class="mt-5 container">
		<ngb-tabset type="pills" class="nav nav-pills nav-pills-primary vertical-pills" [orientation]="'vertical'" style="flex-flow: row nowrap; flex-wrap: nowrap;" #tabset="ngbTabset">
			<ngb-tab title="Datos de perfil" id="profile">
				<ng-template style="width:80%" ngbTabContent class="tab-space">
					<div class="ml-auto mr-auto">

						<form [formGroup]="profileImageForm" role="form" id="contact-form">
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">Foto de perfil</h4>
								</div>
								<div class="card-body">
									<div class="row" style="justify-content: center;">
										<div id="file-uploader">
											<div class="container">
												<div class="row">
													<app-image-upload #imageUpload :isRound=true></app-image-upload>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>

						<form [formGroup]="profileForm" role="form" id="contact-form" method="post" (ngSubmit)="onSubmitProfileForm()">
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">Información personal</h4>
								</div>
								<div class="card-body">
									<h4><small>Para que tus futuros invitados descubrán más cosas sobre ti, cuéntales lo que te gusta :
											tu plato favorito, el viaje de tus sueños...</small></h4>
									<div class="row">
										<div class="col-md-6">
											<label>Nombre</label>
											<div class="input-group" [ngClass]="{'input-group-focus': focus === true}">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
												</div>
												<input type="text" class="form-control" placeholder="Nombre..." (focus)="focus=true" (blur)="focus=false" name="name" formControlName="name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Apellido</label>
												<div class="input-group" [ngClass]="{'input-group-focus': focus1 === true}">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
													</div>
													<input type="text" placeholder="Apellido..." class="form-control" (focus)="focus1=true" (blur)="focus1=false" name="last_name"formControlName="last_name">
												</div>
											</div>
										</div>
									</div>


									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Correo electrónico</label>
												<div class="input-group" [ngClass]="{'input-group-focus': focus2 === true}">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
													</div>
													<input type="email" placeholder="Correo electrónico..." class="form-control" (focus)="focus2=true" (blur)="focus2=false" name="email" #emailField>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Género</label>
												<div class="input-group" [ngClass]="{'input-group-focus': focus3 === true}">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="now-ui-icons users_single-02"></i></span>
													</div>
													<select class="form-control" (focus)="focus3 = true" (blur)="focus3 = false" name="sex" formControlName="sex">
														<option value="M">Masculino</option>
														<option value="F">Femenino</option>
														<option value="O">Otro</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Teléfono</label>
												<div class="input-group" [ngClass]="{'input-group-focus': focus4 === true}">
													<div class="input-group-prepend">
														<span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
													</div>
													<input type="text" placeholder="Teléfono" class="form-control" (focus)="focus4=true" (blur)="focus4=false" name="phone" formControlName="phone">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Descripción</label>
												<textarea name="description" class="form-control" id="description" rows="6" formControlName="description"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="display: flex; justify-content: center;">
									<button type="submit" class="btn btn-primary btn-round pull-right">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Descripción del evento" style="font-size: 10px;" id="description">
				<ng-template style="width:80%" ngbTabContent class="tab-space">
					<div class="ml-auto mr-auto">
						<form [formGroup]="eventDescriptionForm" role="form" id="description-form" (ngSubmit)="onSubmitEventDescriptionForm()" >
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">Detalles del menú</h4>
								</div>
								<div class="card-body">
									<h4>
										<small>
											<p style="margin-bottom: 10px;">¡Hola! Este es el primer paso para crear tu evento culinario. Te toca compartir aquellos detalles de este evento con tus futuros invitados. Te recomendamos mencionar los ingredientes, bebidas y todo lo que ofrecerás durante la experiencia.</p>
											<p>Tu evento será publicado, siempre que hayas completado los 4 pasos.</p>
										</small>
									</h4>

									<div class="row select-padding-label" style="padding-bottom: 20px;">
										<div class="col-md-3">
											<div class="form-group">
												<label>Tipo de Evento</label>
												<select id="typeEvent" name="typeEvent" class="form-control" formControlName="type_event">
													<option *ngFor="let type of eventTypes" value="{{type.id}}">
														{{type.name}}
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label>Tipo de cocina</label>
												<select id="typeFood" name="typeFood" class="form-control" formControlName="type_food">
													<option *ngFor="let type of cuisineTypes" value={{type.id}}>
														{{type.name}}
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label>Mín. de invitados</label>
												<select id="minPeople" name="minPeople" class="form-control" formControlName="min_people">
													<option selected value="1">1 Persona</option>
													<option value="2">2 Personas</option>
													<option value="3">3 Personas</option>
													<option value="4">4 Personas</option>
													<option value="5">5 Personas</option>
													<option value="6">6 Personas</option>
													<option value="7">7 Personas</option>
													<option value="8">8 Personas</option>
													<option value="9">9 Personas</option>
													<option value="10">10 Personas</option>
													<option value="11">11 Personas</option>
													<option value="12">12 Personas</option>
													<option value="13">13 Personas</option>
													<option value="14">14 Personas</option>
													<option value="15">15 Personas</option>
													<option value="16">16+ Personas</option>
												</select>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label>Máx. de invitados</label>
												<select id="maxPeople" name="maxPeople" class="form-control" formControlName="max_people">
													<option value="1">1 Persona</option>
													<option value="2">2 Personas</option>
													<option value="3">3 Personas</option>
													<option value="4">4 Personas</option>
													<option value="5">5 Personas</option>
													<option value="6">6 Personas</option>
													<option value="7">7 Personas</option>
													<option value="8">8 Personas</option>
													<option value="9">9 Personas</option>
													<option value="10">10 Personas</option>
													<option value="11">11 Personas</option>
													<option value="12">12 Personas</option>
													<option value="13">13 Personas</option>
													<option value="14">14 Personas</option>
													<option value="15">15 Personas</option>
													<option value="16">16+ Personas</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row select-padding-label">
										<div class="col-md-12">
											<label>Título</label>
											<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus === true}">
												<input type="text" name="title" id="title" value="" class="form-control" (focus)="focus=true" (blur)="focus=false" formControlName="title">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group" [ngClass]="{'input-group-focus':focus === true}">
												<label>Cuéntanos sobre ti y tu experiencia</label>
												<textarea name="about-menu" id="about-menu" class="form-control" formControlName="description"></textarea>
											</div>
										</div>

										<div class="col-md-12">
											<label>Menu</label>
											<div class="outer-menu-description-editor">

												<div class="menu-description-editor" formArrayName="menu" *ngFor="let course of eventDescriptionForm.get('menu').controls; let i = index;">
													<div class="menu-description-editor-title">
														<div class="bullet-separator">
															<div class="bullet small"></div>
															<div class="bullet big"></div>
															<div class="bullet small"></div>
														</div>
													</div>
													<ng-container [formGroupName]="i">
														<div class="menu-description-editor-dish">
															<select formControlName="type_menu" class="form-control" name="dish-type-{{i}}">

																<option [ngValue]="''">Tipo de Plato</option>
																<option *ngFor="let type of menuTypes" value={{type.id}}>
																	{{type.name}}
																</option>
															</select>
															<textarea formControlName="name" class="form-control" name="dish-{{i}}-{{j}}" rows="8" cols="40" placeholder="Plato {{i + 1}}"></textarea>
															<button type="button" class="btn btn-primary btn-round" (click)="addMenuDish(i)">Agregar Plato</button>
														</div>
													</ng-container>
												</div>
											</div>
										</div>
									</div>
									<div class="row select-padding-label">
										<div class="col-md-12">
											<label>Precio por persona</label>
											<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus === true}">
												<input type="text" name="title" id="title" value="" class="form-control" (focus)="focus=true" (blur)="focus=false" formControlName="price">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" style="display: flex; justify-content: center;">
								<button type="submit" class="btn btn-primary btn-round pull-right">Guardar y continuar</button>
							</div>
						</form>

					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Fotos" id="pictures">
				<ng-template style="width:80%" ngbTabContent class="tab-space">
					<div class="ml-auto mr-auto">
						<form [formGroup]="picturesForm" role="form" id="description-form" method="post">
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">Añade fotos a tu experiencia</h4>
								</div>
								<div class="card-body">
									<h4>
										<small>Estas imágenes aparecerán en la parte superior de tu evento culinario y será lo primero que verán tus comensales. ¡Asegúrate de que destaquen y muestren lo increíble que será tu experiencia!</small>
									</h4>
								</div>
							</div>
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">Foto de portada</h4>
								</div>
								<div class="card-body">
									<h4><small>Usa la mejor imagen como foto de portada. Aparecerá en la página de búsqueda y será la
											primera foto de tu experiencia, por lo que debes asegurarte de que represente correctamente tu
											evento.</small></h4>
									<div class="row">
										<div id="file-uploader">
											<div class="container">
												<div class="row" style="display: flex; justify-content: center;">
													<app-image-upload #eventImageUpload></app-image-upload>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" style="display: flex; justify-content: center;">
								<button type="submit" class="btn btn-primary btn-round pull-right" (click)="onSubmitPicturesForm()">Continuar</button>
							</div>
						</form>
					</div>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Lugar y servicios" id="location">
				<ng-template style="width:80%" ngbTabContent class="tab-space">
					<div class="ml-auto mr-auto">
						<form [formGroup]="timeAndLocationForm" role="form" id="description-form" method="post">
							<div class="card card-contact card-raised">
								<div class="card-header text-center">
									<h4 class="card-title">¿Cuando realizarás el evento?</h4>
								</div>
								<div class="card-body" style="margin: 0 15px;">
									<div class="row">
										<h3 style="display: block; width: 100%">Una vez por semana</h3>
										<div class="form-group day-select">
											<label style="margin: 0 20px;">Día</label>
											<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="day_of_week">
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" [value]="Lunes">Lun
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Martes">Mar
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Miercoles">Mie
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Jueves">Jue
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Viernes">Vie
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Sábado">Sáb
												</label>
												<label ngbButtonLabel class="btn-primary">
													<input ngbButton type="radio" value="Domingo">Dom
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group inline">
											<div>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Inicio</span>
													</div>
													<input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_init" ngbDatepicker #d1="ngbDatepicker">
													<div (click)="d1.toggle()" class="input-group-append">

														<span class="input-group-text"><i class="now-ui-icons ui-1_calendar-60"></i></span>
													</div>
												</div>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">Fin</span>
													</div>
													<input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date_end" ngbDatepicker #d2="ngbDatepicker">
													<div (click)="d2.toggle()" class="input-group-append">

														<span class="input-group-text"><i class="now-ui-icons ui-1_calendar-60"></i></span>
													</div>
												</div>
											</div>
											<div class="input-group">
												<ngb-timepicker formControlName="time_start"></ngb-timepicker>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>Donde realizarás este evento?</label>
											<div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
												<div class="select select-large">
													<select id="location" name="location" (change)="locationChange($event.target.value)">
														<option value="En mi casa">En mi casa</option>
														<option value="A domicilio">A domicilio</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card card-contact card-raised" *ngIf="showMap">
								<div class="card-header text-center">
									<h4 class="card-title">Dirección</h4>
								</div>
								<div class="card-body">
									<h4>
										<small>Indica tu dirección completa. Así tu experiencia aparecerá en los resultados de búsqueda. Solo tus comensales conocerán tu dirección exacta.</small>
									</h4>

									<div class="col-md-12">
										<label>Dirección de domicilio completa</label>
										<div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
											</div>
											<input type="text" class="form-control" placeholder="Dirección..." (focus)="focus=true" (blur)="focus=false" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
										</div>
									</div>

									<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
										<agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
																																								 (dragEnd)="markerDragEnd($event)"></agm-marker>
									</agm-map>

								</div>

							</div>


							<div class="col-md-12" style="display: flex; justify-content: center;">
								<button type="submit" class="btn btn-primary btn-round pull-right" (click)="onSubmitTimeAndLocationForm()">Enviar para revisión</button>
							</div>
						</form>

					</div>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
