<ng-template #Register let-c="close" let-d="dismiss">
	<div class="card card-signup">
		<div class="card-body">
			<h4 style="color:black;" class="card-title text-center">Regístrate</h4>
			<div class="social text-center">
				<button type="button" class="btn btn-icon btn-round btn-facebook btn-facebook-continue" (click)="authService.FacebookAuth()">
					<span>Continuar con Facebook</span>
					<i class="fa fa-facebook"> </i>
				</button>
				<button type="button" class="btn btn-icon btn-round btn-google btn-google-continue">
					<span>Continuar con Google</span>
					<i class="fa fa-google"></i>
				</button>
				<h5 class="card-description"> o con tu correo</h5>
			</div>
			<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
				<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i
							  class="now-ui-icons users_circle-08"></i></span>
					</div>
					<input type="text" class="form-control" placeholder="Nombre y apellido"
															formControlName="first_name"
															[ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
					<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
						<div *ngIf="f.firstName.errors.required">First Name is required</div>
					</div>
				</div>
				<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="now-ui-icons text_caps-small"></i>
						</span>
					</div>
					<input type="date" class="form-control datetimepicker" placeholder="06/07/2000"
																		   formControlName="date_birthday" name="dp" [(ngModel)]="model" ngbDatepicker
																										   #d="ngbDatepicker" (click)="d.toggle()" data-color="white">

				</div>

				<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus2===true}">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="now-ui-icons ui-1_email-85"></i>
						</span>
					</div>
					<input type="text" class="form-control" placeholder="Correo" (focus)="focus2=true"
															formControlName="email" (blur)="focus2=false">
				</div>
				<div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
					<div class="input-group-prepend">
						<span class="input-group-text">
							<i class="now-ui-icons text_caps-small"></i>
						</span>
					</div>
					<input type="password" placeholder="Password" class="form-control" (focus)="focus1=true"
															  formControlName="password" (blur)="focus1=false">
				</div>

				<!-- If you want to add a checkbox to this form, uncomment this code -->
				<!-- 
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">
						<span class="form-check-sign"></span>
						I agree to the terms and <a href="#something">conditions</a>.
					</label>
				</div>
				-->
				<div class="form-group card-footer text-center">
					<button [disabled]="loading" type="submit"
												 class="btn btn-primary btn-round btn-lg">Crear cuenta</button>
				</div>
			</form>
			<div style="display: flex; justify-content: center; align-items: center;">
				<span style="font-size: 14px; color: #000; padding-right: 15px;">¿Ya tienes una cuenta?</span>
				<button (click)="goToLoginModal()" class="btn btn-no-fill btn-round btn-sm">Iniciar Sesión</button>
			</div>
		</div>
	</div>
</ng-template>

<button class="btn btn-primary dropdown-item" (click)="open(Register)">
	<i class="now-ui-icons ui-2_settings-90"></i> Registrarse
</button>
