@import "~bootstrap/scss/bootstrap.scss";

ol, ul {
	list-style: none;
}

.btn {
	&.btn-neutral {
		color: rgb(33, 37, 41);
		font-size: 14px;
		&:hover {
			color: #de606b;
		}
		&:focus {
			background-color: none;
			color: rgb(33, 37, 41);
		}
	}
	&.btn-primary {
		font-size: 14px;
		&:hover {
			background-color: #de606b;
			color: #fff;
		}
		&:focus {
			background-color: #de606b;
		}
	}
	&.btn-secondary {
		font-size: 14px;
		background-color: #3bd57e;
		&:hover {
			background-color: #3bd57e;
			color: #fff;
		}
		&:focus {
			background-color: #3bd57e;
		}
	}

}

.searchbar-wrapper {
	padding: 25px 0;
}


@media screen and (max-width: 991px) {
	.collapse.navbar-collapse:after {
		background: #fff;
		opacity: 1;
	}
	.btn {
		&.btn-primary {
			font-size: 16px;
			background-color: transparent;
			color: #de606b;
		}
	}
	.searchbar {
		width: 100%;
	}
	.searchbar__input-wrapper {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		width: 100%;
		label.searchbar__checkin {
			width: 200px;
		}
		label.searchbar__location,
		label.searchbar__checkin,
		label.searchbar__guests {
			display: block;
			width: 100%;
			span {
				color: #000;
				font-size: 12px;
				margin: 10px 0;
				display: block;
			}
		}
	}
	.searchbutton-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.footer.footer-big .row > div {
	text-align: center;
}

#belong-anywhere-container .air-slide--active {
	background-color: #fff;
}

#belong-anywhere-container .air-slide--active article {
	color: #000;
	p {
		text-transform: initial;
		font-size: 16px;
	}
}

#belong-anywhere-container article img {
	max-width: 64px;
}

@media screen and (max-width: 768px) {
	.flex-column {
		display: none;
	}
	.nav.nav-pills .tab-content {
		width: 100%;
	}
}
.page-header ngb-carousel .carousel-control-prev-icon,
.page-header ngb-carousel .carousel-control-next-icon {
	width: 50px;
	height: 50px;
	color: #000;
	z-index: 1000;
	filter: drop-shadow(2px 4px 6px black);
}
